@import "tailwindcss";

/* Untuk Tailwind v4, kita panggil plugin scrollbar-hide 
  langsung di bawah import utama 
*/
@plugin "tailwind-scrollbar-hide";

html {
  scroll-behavior: smooth;
}

body {
  color: #1F2937;
  background: #F9FAFB;
  /* Tambahkan antialiasing agar font terlihat lebih tajam seperti di desain */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom utility untuk memastikan transisi hover smooth */
@layer components {
  .nav-link {
    @apply transition-all duration-300 ease-in-out;
  }
}